---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.home-container {
  background-color: red;
}

.feature-row-container > div {
  padding-top: 2em;
  margin-bottom: 0;
}

.feature-row-container > div:nth-child(even) {
  background-color: mistyrose;
}

.feature-row-container > div:nth-child(odd) {
  background-color: yellow;
}