---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$text-color: #0f477e;

// REMOVEME: hide menu
.greedy-nav__toggle, .visible-links {
  display: none !important;
}

  // main.css customizations
.page__hero--overlay .page__title { font-size: 1.953em; }

@media (min-width: 37.5em) {
  .page__hero--overlay .page__title { font-size: 3em; }
}

@media (max-width: 37.5em) {
  .feature__wrapper {
    padding: 10px;
  }
}

@media (min-width: 68.75em) {
  .page__hero--overlay .page__title { font-size: 6em; }
}

@media (min-width: 80em) {
  .page__hero--overlay { padding: 6em 0; }
}

.wrapper > h1 {
  text-align: center;
  font-style: italic;
  font-family: serif;
  margin: 0.5em 0;
}

.site-title {
  font-family: serif;
  font-style: italic;
}

// custom classes
.home-container {
  font-style: italic;
  margin-bottom: 2em;
}

.home-container > p {
  margin: 0;
}

.feature-row-container > div {
  padding-top: 2em;
  margin-bottom: 0;
}

.feature-row-container > div:nth-child(even) {
  background-color: mistyrose;
}

.feature-row-container > div:nth-child(odd) {
  background-color: #e9dcbe;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  padding: 20px 50px;
  border: 1px solid #dee2e6;
}

.tab.active {
  background-color: #9bffff;
}

.tab.active > a {
  color: $text-color;
}

.tab-content {
  background-color: #9bffff;
  padding: 20px;
}

@media (min-width: 37.5em) {
  .footer {
    display: flex !important;
    margin-bottom: 1em;
  }

  .footer > div:first-child {
    padding-right: 1em;
  }

  .footer > div:last-child {
    padding-left: 1em;
  }
}

.footer {
  display: block;
}

.footer > div {
  padding: 0;
}

.footer h3 {
  margin-top: 0;
}

.footer p {
  margin: 0;
}

.footer span {
  font-style: italic;
}

.footer > div:last-child {
  margin: 1em 0;
}