---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$text-color: #0f477e;

.home-container {
  background-color: red;
}

.feature-row-container > div {
  padding-top: 2em;
  margin-bottom: 0;
}

.feature-row-container > div:nth-child(even) {
  background-color: mistyrose;
}

.feature-row-container > div:nth-child(odd) {
  background-color: yellow;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.tab-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  padding: 20px 50px;
  border: 1px solid #dee2e6;
}

.tab.active {
  background-color: #9bffff;
}

.tab.active > a {
  color: $text-color;
}

.tab-content {
  background-color: #9bffff;
  padding: 20px;
}
